*.geojson text eol=lf
meta/wof-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-ae-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-ae-latest.csv filter=lfs diff=lfs merge=lfs -text
